/* Global styles */
body {
  background-color: #274156;
}

/* Navbar styles */

#bootstrap-overrides nav {
  background-color: #274156;
}

#bootstrap-overrides .navbar-nav a {
  color: #7796cb;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-right: 40px;
}

#bootstrap-overrides .navbar-brand {
  padding-left: 30px;
}

/* Title */

.title-content {
  height: 100vh;
}

.title-content .row {
  height: 100%;
}

.title-content h1 {
  color: #fbfcff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 38px;
}

@media (min-width: 576px) {
  .title-content h1 {
    font-size: 54px;
  }
}

.title-content h2 {
  color: #d0ccd0;
  font-family: 'Roboto Mono', monospace;
}

.title-content p {
  color: #888e9e;
  font-family: 'Inter', sans-serif;
}

.title-content button {
  font-family: 'Roboto Mono', monospace;
  color: #888e9e;
  border-color: #888e9e;
}

.title-text {
  margin-top: 40px;
  padding: 10px;
}

/* Title icons */

.icons {
  padding-top: 20px;
  color: #888e9e;
}

.icons svg {
  padding-right: 14px;
}

.icons svg:hover {
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
}

a {
  color: #888e9e;
  text-decoration: none;
}

a:hover {
  color: #fbfcff;
}

/* Experience */

.experience-content {
  height: 90vh;
}

.experience-content h2 {
  color: #d0ccd0;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 14px;
}

#bootstrap-overrides .nav-link {
  background-color: #274156;
  color: #d0ccd0;
}

#bootstrap-overrides .nav-pills .nav-link.active {
  background-color: none;
  border: 1px solid #7796cb;
  
}
